<!DOCTYPE html>
<html lang="en">
<head>
    <title>Developer Test | POSSIBLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="icon" href="favico.ico">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <!--[if lt IE 9]>
    <script type="text/javascript" src="javascript/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body role="document">
    <header role="banner" id="site-header">
        <div class="content-wrap">
            <h1><a href="./" id="header-logo"><img src="images/logo.png" alt="POSSIBLE"></a></h1>
        </div>
    </header>
    <div id="main" class="clearfix">
        <div class="title-bar">
            <h2 class="content-wrap">Welcome to the Twitter Page</h2>
        </div>
        @RenderBody()
    </div>
    <footer id="site-footer" class="clearfix">
        <div class="content-wrap">
            <span class="pull-right">&copy;POSSIBLE 2016</span>
        </div>
    </footer>    
</body>
</html>
