$bgr-color: #505050;
$head-color: #262626;
$border-color: #909090;
$primary-color: #fff;
$secondary-color: #000;
$active-color: #1d9ed9;
$sidebar-bgr: #f2f2f2;
$transp-black: rgba(0,0,0,0.4);
$twitter-blue: #55acee;
$possible-green: #71e20e;
$possible-blue: #1d9ed9;
