$regular: 400;
$bold: 700;
$medium: 500;
$light: 300;

$sans-serif: 'Montserrat', sans-serif;
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
$tahoma: Tahoma, Verdana, Segoe, sans-serif;