article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: 1px dotted #909090; }

input[type="text"],
input[type="password"] {
  outline: none; }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

img {
  height: auto; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  background: #505050;
  min-height: 100%;
  position: relative; }

.clearfix {
  float: none;
  clear: both; }

.clearfix:after {
  content: "";
  display: inline-block;
  display: block;
  clear: both; }

body {
  background: #505050;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  min-height: 100%;
  height: 100%; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 30px;
  font-size: 3rem;
  line-height: 32px;
  line-height: 3.2rem; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 38px;
  line-height: 3.8rem;
  margin-top: 21px;
  margin-top: 2.1rem;
  margin-bottom: 21px;
  margin-bottom: 2.1rem; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 32px;
  margin-bottom: 3.2rem; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem; }

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem; }

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 14px;
  line-height: 1.4rem; }

p {
  margin-bottom: 20px;
  margin-bottom: 2rem; }

a {
  color: #71e20e; }
  a:hover {
    text-decoration: underline; }

.reader {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  left: -9999px; }

.content-wrap {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px; }

#site-header {
  background: #000;
  padding-top: 12px;
  padding-top: 1.2rem;
  padding-bottom: 12px;
  padding-bottom: 1.2rem;
  position: relative; }

#main {
  width: 100%;
  padding-bottom: 32px;
  padding-bottom: 3.2rem; }

#content {
  width: 100%;
  padding-right: 265px; }

#sidebar {
  width: 250px;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 12px;
  padding: 1.2rem;
  overflow: hidden;
  background: #fff;
  color: #000; }
  #sidebar a {
    color: #1d9ed9; }

#site-footer {
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }
  #site-footer .pull-right {
    color: #909090;
    font-size: 10px;
    font-size: 1rem;
    padding-top: 8px;
    padding-top: 0.8rem;
    padding-bottom: 8px;
    padding-bottom: 0.8rem; }

header:after {
  height: 0;
  width: 100%;
  content: '';
  box-shadow: 0 0 40px 8px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; }

.title-bar {
  -moz-box-shadow: 0 0px 12px -1px #000;
  -webkit-box-shadow: 0 0px 12px -1px #000;
  box-shadow: 0 0px 12px -1px #000;
  padding: 12px 0px;
  padding: 1.2rem 0rem; }
  .title-bar h2 {
    font-weight: normal;
    font-weight: 400;
    letter-spacing: -1px; }

.pull-right {
  float: right; }

.tweet-search {
  background: rgba(0, 0, 0, 0.4);
  margin-top: 24px;
  margin-top: 2.4rem;
  padding: 12px;
  padding: 1.2rem; }

#search-form {
  overflow: hidden;
  padding: 8px 0px;
  padding: 0.8rem 0rem; }

#search-text {
  background: none;
  border: 1px solid #909090;
  height: 32px;
  float: left;
  color: #fff;
  padding: 0px 8px;
  padding: 0rem 0.8rem; }

#search-button {
  display: block;
  float: left;
  height: 32px;
  height: 3.2rem;
  width: 32px;
  width: 3.2rem;
  cursor: pointer;
  border-radius: 3px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 16px;
  padding: 0.8rem 1.6rem;
  margin-left: 8px;
  margin-left: 0.8rem;
  background: url(../images/sprite.png) center -32px no-repeat #71e20e;
  background-size: 32px;
  display: block;
  text-indent: -9999px;
  overflow: hidden; }
  #search-button:hover, #search-button:active, #search-button:focus {
    background-color: #fff; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #search-button {
      background: url(../images/sprite_x2.png) center -32px no-repeat #71e20e;
      background-size: 32px; } }

.tweet-search-results {
  margin-top: 15px;
  margin-top: 1.5rem; }
  .tweet-search-results .results-container {
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    padding: 1.2rem; }
  .tweet-search-results .tweet {
    padding-left: 10px;
    padding-left: 1rem;
    padding-right: 10px;
    padding-right: 1rem; }
  .tweet-search-results .tweet-datetime {
    color: #1d9ed9; }

.pagination {
  width: 100%;
  overflow: hidden;
  -moz-box-shadow: 0 0px 12px -1px #000;
  -webkit-box-shadow: 0 0px 12px -1px #000;
  box-shadow: 0 0px 12px -1px #000;
  margin-top: 15px;
  margin-top: 1.5rem; }
  .pagination .previous,
  .pagination .next {
    display: block;
    width: 48px;
    width: 4.8rem;
    height: 44px;
    height: 4.4rem;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 6px 0px;
    padding: 0.6rem 0rem;
    -webkit-transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1); }
    .pagination .previous:before,
    .pagination .next:before {
      position: relative;
      width: 100%;
      height: 32px;
      font-size: 20px;
      font-size: 2rem;
      display: inline-block; }
    .pagination .previous:hover, .pagination .previous:active, .pagination .previous:focus,
    .pagination .next:hover,
    .pagination .next:active,
    .pagination .next:focus {
      background-color: rgba(0, 0, 0, 0.4); }
  .pagination .previous {
    float: left;
    border-right: 1px solid #909090; }
    .pagination .previous:before {
      content: "";
      background: url(../images/sprite.png) center -98px no-repeat transparent;
      background-size: 32px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .pagination .previous:before {
          background: url(../images/sprite_x2.png) center -98px no-repeat transparent;
          background-size: 32px; } }
  .pagination .next {
    float: right;
    border-left: 1px solid #909090; }
    .pagination .next:before {
      content: "";
      background: url(../images/sprite.png) center -65px no-repeat transparent;
      background-size: 32px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .pagination .next:before {
          background: url(../images/sprite_x2.png) center -65px no-repeat transparent;
          background-size: 32px; } }

.tweet {
  border-bottom: 1px solid #909090;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 10px;
  padding-bottom: 1rem; }
  .tweet p {
    margin-bottom: 0; }

.tweet-datetime {
  font-size: 11px;
  font-size: 1.1rem;
  text-align: right;
  color: #909090;
  padding-top: 4px;
  padding-top: 0.4rem; }

.tweet-heading {
  background: url(../images/sprite.png) 0 0 no-repeat transparent;
  text-transform: lowercase;
  background-size: 32px;
  padding-left: 40px;
  padding-left: 4rem;
  height: 32px;
  height: 3.2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .tweet-heading {
      background: url(../images/sprite_x2.png) 0 0 no-repeat transparent;
      background-size: 32px; } }

.tweet-intro {
  color: #909090;
  margin-bottom: 12px;
  margin-bottom: 1.2rem; }

@media screen and (max-width: 768px) {
  #content {
    padding-right: 0; }
  #sidebar {
    width: 100%;
    position: static;
    margin-top: 15px;
    margin-top: 1.5rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem; } }
